
body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  &.title {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  &.profession {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  &.title-age {
    margin-top: 0.5em;
    margin-bottom: 1.4em;
  }
  &.message {
    @extend .title;
  }
  &.btn-cotar {
    margin-bottom: 1em;
  }
}

.panel-admin {
  &.admin-area {
    margin-top: 30vh;
  }
}

.form-control:focus {
  box-shadow: none;
}
