<div ng-controller="agesCtrl">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center title">Insira Faixas Etárias</h1>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <p>
        Informe a idade inicial e a idade final que deseja inserir
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-4">
      <div class="form-group">
        <input type="number" ng-model="age.age_initial" class="form-control" min="1" placeholder="Idade Inicial" />
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <input type="number" ng-model="age.age_final" class="form-control" min="1" placeholder="Idade Final" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="text-center">

        <div class="form-group">
          <a href="" class="btn btn-primary btn-block"  ng-click="showInfo(); list = true" data-toggle="collapse" data-target="#list">Listar todas as linhas selecionadas</a>
        </div>
        <div class="form-group">
          <a href="" class="btn btn-primary btn-block" ng-click="insertAge(age);">Inserir faixa etária</a>
        </div>
        <br />
      </div>
    </div>
  </div>
  <div class="row text-center" id="list" ng-show="list">
    <div>
      <div ng-repeat="table in tables" ng-repeat="age in ages" ng-init="tableIndex = $index">
        <table class="table table-hover">
          <thead>
            <tr ng-repeat="tr in table.thead_tr" ng-init="TrHeadIndex = $index">
              <th ng-repeat="th in tr.ths" class="text-center remove-outline" tabindex="0">
                <span ng-model="th.value"> {{ th.th_value }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{'active': tr.age != age.id}" popover-template="'addtr.html'" popover-placement="top" popover-title="Opções" popover-trigger="click" ng-repeat="tr in table.tbody_tr" ng-init="TrBodyIndex = $index">
              <td ng-repeat="td in tr.tds" class="text-center" ng-attr-id="tr.id">
                <div class="text-center">
                  <span>{{ td.td_value }}</span>
                </div>
              </td>
              <script type="text/ng-template" id="addtr.html">
                <div ng-repeat="age in ages">
                  <div class="text-center margin-option" ng-if="tr.selected != true">
                    <input type='button' ng-click='insertTrAge(age.id, tr.id)' value='De {{ age.age_initial }} até {{ age.age_final }} anos' class='btn btn-success btn-block'>
                  </div>
                  <div class="text-center margin-option">
                    <input type='button' ng-if="tr.selected == true && tr.age == age.id" ng-click='deleteTrAge(age.id, tr.id)' value='Remover Seleção' class='btn btn-danger btn-block'>
                  </div>
                </div>
              </script>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center">Remover Faixas Etárias</h1>
    <div ng-repeat="age in ages">
      <div class="text-center margin-option">
        <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Remover faixa etária">{{ age.age_initial }} até {{ age.age_final }} anos</button>
      </div>
    </div>
  </div>
</div>
